/*

    Container

    Sets max width for the page and centers the content

    Wrap around grid to create a centered layout

    Usage:

    <section class="container">

        <div class=grid >
            <div class=grid__item ></div>
        </div>

    </section>

    |---------------------- window  ---------------------|
    |                                                    |
    |           | |                       | |            |
    |           | |------ container ------| |            |
    |           | |                       | |            |
    |                                                    |

*/

.container, %container {
  @extend %cf;
  max-width: $container-max;
  box-sizing: content-box;
  margin: 0 auto;
  padding-left: $container-pad;
  padding-right: $container-pad;

  @include breakpoint-min($bp-md) {
    padding-left: $container-pad * 2;
    padding-right: $container-pad * 2;
  }
}

.container--small, %container--small {
  max-width: $container-small-max;
}
.container--large {
max-width: $container-large-max;
}
.container--xs {
  max-width: $container-xs-max;
}

.container--flush, %container--flush {
  padding-left: 0;
  padding-right: 0;
}
