.icon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  fill: currentColor;

  .no-svg & {
    display: none;
  }
}

.icon--wide {
  width: 40px;
}

svg,
symbol {
  &.icon:not(.icon--full-color) {
    circle,
    ellipse,
    g,
    line,
    path,
    polygon,
    polyline,
    img {
      max-width: 100%;
    }

    rect {
      fill: inherit;
      stroke: inherit;
    }
  }
}

// A generic way to visually hide content while
// remaining accessible to screen readers (h5bp.com)
.icon-fallback-text {
  @include visually-hidden;

  .no-svg & {
    @include visually-shown(static);
  }
}

// Shared Styles
.payment-icons__list,
.social-media__list {
  @include plain-list(none, inline-block, 0, $base-spacing-unit 0);
}

.payment-icons__item,
.social-media__item {
  margin: 0 ($base-spacing-unit / 4);
}


// Payment Icons
.payment-icons {}
.payment-icons__list {
  user-select: none;
  cursor: default;
}
.payment-icons__item {}
.payment-icons__icon {
  width: $base-spacing-unit * 2.5;
  height: $base-spacing-unit * 1.5;
}


// Social Media Icons
.social-media {}
.social-media__item {
  display: inline-block;
}
.social-media__link {}
.social-media__text {}
.social-media__icon {
  width: $base-spacing-unit * 1.5;
  height:$base-spacing-unit * 1.5;
}