// Menu Button specific styling

.site-header__menu-btn {
  float: right;
  display: none;
  cursor: pointer;
  margin-top: ($base-spacing-unit / 5);
}

.site-header__menu-btn--toggle {
  width: 100%;
  position: relative;
  height: $base-spacing-unit;

    span {
      display: block;
      background: $color-primary;
      height: ($base-spacing-unit / 5);
      margin-bottom: ($base-spacing-unit / 5);

      top: 0;
      width: 100%;
      position: absolute;
      transform-origin: 50% 50%;
      transition: all $transition-default;

      &:nth-of-type(1) { top: 0; }
      &:nth-of-type(2) { top: ($base-spacing-unit * .4); }
      &:nth-of-type(3) { top: ($base-spacing-unit * .8); }
    }
}
.site-header__menu-btn--text {
  font-weight: $font-weight-thick;
  font-size: ($font-size-base * .75);
}

.site-header__menu-btn {
  float: right;
  display: none;
  cursor: pointer;

    .menu-open & {
      color: $link-hovered;
      
      .site-header__menu-btn--toggle {
        span {
          background: $link-hovered;

          &:nth-of-type(1),
          &:nth-of-type(2),
          &:nth-of-type(3) { top: ($base-spacing-unit * .4); }

          &:nth-of-type(1) { transform: rotate(-45deg); }
          &:nth-of-type(2) { width: 0; opacity: 0; }
          &:nth-of-type(3) { transform: rotate(45deg); }
          }
      }
    }
}

@include breakpoint($main-breakpoint) {
  .site-header__menu-btn {
    display: block;
  }
}

