form {
  margin: 0;
}

a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

label { 
  display: block;
  @include margin-trailer(0.25);
  font-weight: bold;
}

input,
textarea,
select {
  max-width: 100%;
  font-size: $font-size-base;
  border: 1px solid $color-border;
  padding: ($base-spacing-unit / 2);

  -webkit-appearance: none;
  border-radius: 0;

  &[disabled] {
    border-color: $color-disabled-border;
    background-color: $color-disabled;
    cursor: default;
  }
}

.selector-wrapper {
  @include margin-trailer(1);
}
// For custom arrow, removing border-radius + default browser styles
.select-wrapper {
  position: relative;
  width: 100%;
  
  select {
    width: 100%;
  }

  &::after {
    content: "▾";
    display: inline-block;
    position: absolute;
    right: 1px;
    padding-right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
}

button,
input[type='submit'],
label[for] {
  cursor: pointer;
}

textarea {
  min-height: 100px;
}

select {
  background: transparent;
}

select::-ms-expand {
  display: none;
}

// Force option color (affects IE only)
option {
  background-color: $color-body;
  color: $color-body-text;
}

.input-error {
  border-color: $color-error;
  background-color: $color-error-bg;
  color: $color-body-text;
}



.input-group {
  max-width: 100%;
  position: relative;
  padding-right: $submit-width;
  box-shadow: $box-shadow-default;

  // border: $border-width $border-style $border-color;
}

.input-group__input, 
.input-group__btn {
  border: 0;
  width: 100%;
  outline: none;
  height: $input-height;
  vertical-align: middle;
  padding: ($base-spacing-unit / 2) $base-spacing-unit;
}

.input-group__btn {
    top: 0;
    right: 0;
    position: absolute;
    width: $submit-width;
    padding: $base-spacing-unit / 2;
    background: darken($color-quinary, 5%);
}

.input-group__btn--text { width: auto; }

// Contact Form
#contact-us {

  input, textarea {
    min-width: 60%;
  }
  input {
    @include margin-trailer(1);
  }

}
