// Global Styles

html {
    background-color: $color-body;
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: border-box;
}
  
body,
html {
    height: 100%;
}

a {
    color: $link-default;
    text-decoration: none;
  
    &:hover { 
        color: $link-hovered;
        text-decoration: underline; 
    }

    &:focus, &:active {
        color: $link-active;
    }
}

img {
    display: block;
    max-width: 100%;
}