// Global Footer Styles

.site-footer {
    padding: $section-spacing-unit 0;    
    box-shadow: $box-shadow-reverse;

    .grid__item {
        text-align: center;

        @include breakpoint-min($bp-sm) {
            &:first-of-type { text-align: left; }
            &:last-of-type { text-align: right; }
        }
    }
}

.site-footer__content { 
    @include limit-width(580px, auto);
    @include margin-trailer(2);
    @include breakpoint-min($main-breakpoint) {
        margin-right: 0;
    }
}

.site-footer__headline {}
.site-footer__copy {}

.footer-menu {    
    @include margin-trailer(2);
}

.footer-menu__list {
    @include plain-list(none, block, 0, $base-spacing-unit 0);
}

.footer-menu__item {
    @include margin-trailer(.5);
}

.footer-menu__link {}


// Legal Stuffs
.site-legal {
    text-align: center;
}