// Global Footer Styles

.site-footer {
    text-align: center;
    padding: $base-spacing-unit 0;
    box-shadow: $box-shadow-reverse;
}

.site-footer__content { margin-bottom: $base-spacing-unit * 2; }

.site-footer__headline {}
.site-footer__copy {}

.footer-menu { margin-bottom: $base-spacing-unit * 2; }
.footer-menu__list {
    @include plain-list(none, block, 0, $base-spacing-unit 0);
}
.footer-menu__item {
    margin-bottom: $base-spacing-unit * .5;
}
.footer-menu__link {}