// Global Footer Styles

.site-footer {
    text-align: center;
    padding: $base-spacing-unit 0;
    box-shadow: $box-shadow-reverse;
}

.site-footer__content { 
    @include limit-width(580px, auto);
    @include margin-trailer(2);
}

.site-footer__headline {}
.site-footer__copy {}

.footer-menu {    
    @include margin-trailer(2);
}

.footer-menu__list {
    @include plain-list(none, block, 0, $base-spacing-unit 0);
}

.footer-menu__item {
    @include margin-trailer(.5);
}

.footer-menu__link {}