// Global Layout Styles
// Things that can appear on all pages:
// *, body, section, etc.

* { box-sizing: border-box; }

.page-content {
    padding-top: $section-spacing-unit;
    padding-bottom: $section-spacing-unit;
}

.site-main {
    background: white;
}

.section { 
    padding: $section-spacing-unit 0;
    
    &.style--dark { background: $theme-dark; }
    &.style--light { background: $theme-light; }



    @include breakpoint($main-breakpoint) {
        padding: ($section-spacing-unit / 2) 0;
    }
}

// Social Sharing
.social-sharing {
    margin-top: $base-spacing-unit*2;

    a { margin-right: $base-spacing-unit; }
}
