// Global Layout Styles
* { box-sizing: border-box; }
body {
    // &.js-menu__toggle--open {
    //     overflow: hidden;
    // }
}

.site-main {}

.page-content {
    padding-top: $section-spacing-unit;
    padding-bottom: $section-spacing-unit;
}

.shopify-section {}

.section { 
    padding: $section-spacing-unit 0;
    
    &.style--dark { background: $theme-dark; }
    &.style--light { background: $theme-light; }



    @include breakpoint($main-breakpoint) {
        padding: ($section-spacing-unit / 2) 0;
    }
}

// Social Sharing
.social-sharing {
    margin-top: $base-spacing-unit*2;

    a { margin-right: $base-spacing-unit; }
}
