// Global Header Styles

.site-header {
    top: 0;
    width: 100%;
    position: fixed;
    background: white;
    height: $header-height;
    padding: $base-spacing-unit 0;
    z-index: ($z-index-base * 2);
    box-shadow: $box-shadow-default;
    transform: translateX(0);
    // border-radius: $border-radius-bottom;

    @include clearfix();

    .container {
        position: relative;
    }
}

h1, .h1, .site-header__logo {
    font-family: $font-heading;
    font-size: $font-size-base * 2;
    font-weight: $font-weight-thick;
}

.site-header__logo {
    top: 50%;
    margin: 0;
    position: absolute;
    transform: translateY(-50%);
    max-width: ($base-spacing-unit * 12);
}
.site-header__logo-link,
.site-header__logo-image { display: block; }

.site-header__logo-link {
    @include beautify-link($link-default, $link-hovered);
}
