// Global Header Styles

.site-header {
    top: 0;
    left: ($base-spacing-unit / 2);
    right: ($base-spacing-unit / 2);

    position: fixed;
    background: white;
    padding: $base-spacing-unit;
    z-index: ($z-index-base * 2);
    box-shadow: $box-shadow-default;
    border-radius: $border-radius-bottom;

    @include clearfix();

    .container {
        position: relative;
    }
}

.announcement-bar {
    position: relative;
    text-align: center;
    padding: $base-spacing-unit;
    background: $color-secondary;
    margin-top: -$base-spacing-unit;
    margin-bottom: $base-spacing-unit * 2;

    &:before, &:after {
        content: "";
        top: 0;
        right: auto;
        height: 100%;
        display: block;
        position: absolute;
        width: $base-spacing-unit;
        left: -$base-spacing-unit;
        background: $color-secondary; 
    }
    &:after {
        left: auto;
        right: -$base-spacing-unit;
    }
    
    p { margin: 0; }
}

h1, .h1, .site-header--logo {
    font-family: $font-heading;
    font-size: $font-size-base * 2;
}

.site-header--logo {
    top: 50%;
    margin: 0;
    position: absolute;
    transform: translateY(-50%);
    max-width: ($base-spacing-unit * 12);
}
.site-header--logo-link,
.site-header--logo-image { display: block; }

.site-header--logo-link {
    @include beautify-link($link-hovered);
}

.site-header--utility {
    float: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    // Ensure element never over/underlaps the logo
    width: calc(100% - (#{$base-spacing-unit} * 13));
}

.site-header--cart,
.site-header--search {
    margin-left: ($base-spacing-unit / 2);
}

.site-header--cart-link {
    padding: $base-spacing-unit;
    font-weight: $font-weight-thick;
    @include beautify-link($link-hovered);
}