/* Custom Magnific Popup CSS edits, includes:
 * Base Popup styling
 * Zoom Effects
 * Close Button
 * More to come...
 */


// Base Styling to match Theme
.mfp-close-btn-in .mfp-close,
.mfp-close {
  opacity: 1;
  font-size: $h2-font-size;
  top: $base-spacing-unit;
  right: ($base-spacing-unit * 2);
  @include beautify-link($link-default, $link-hovered);
  @include breakpoint($main-breakpoint) {
    right: $base-spacing-unit;
  }
}

.mfp-container { padding: 0; }

.mfp-title {
  padding: 0;
  color: black;
  text-align: center;
  line-height: inherit;
}

.mfp-bg {
  background: white;
}


// Fade-In-Out Styling
// Custom Class based
.mfp-fade {
  &.mfp-bg, .mfp-container {
    opacity: 0;
    transition: opacity $transition-default;
    -webkit-backface-visibility: hidden;
  }

  &.mfp-ready.mfp-bg,
  &.mfp-ready .mfp-container {
    opacity: 1;
  }

  &.mfp-removing .mfp-container, 
  &.mfp-removing.mfp-bg {
    opacity: 0;
  }
}


// Flex-Centering Content
// Custom Class based
.mfp-centered {
  .mfp-container:before { display: none; }

  .mfp-content {
    height: 100%;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}