// Global Navigation styles

/* TODO?
 * 1. Add conditional styles for last-item dropdown
 * 2. Add active class styles to elements in menu
 * 3. Add drop-down functionality to mobile menu
 * 4. ...
 */


.main-navigation {
    float: right;
    margin-top: $base-spacing-unit * .1;
    // // Ensure element never over/underlaps the logo
    max-width: calc(100% - (#{$base-spacing-unit} * 15));
}

.main-navigation__menu,
.main-navigation__menu-child  {
    margin: 0;
    list-style: none;
}

.main-navigation__menu {
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.main-navigation__menu-child {
    opacity: 0;
    visibility: hidden;

    width: 250px;
    display: none;
    position: absolute;
    background: white;
    left: -$base-spacing-unit;
    z-index: $z-index-base * 4;
    box-shadow: $box-shadow-default;
    border-radius: $border-radius-bottom;
    transform: translateY(-($base-spacing-unit * .1));
    padding: ($base-spacing-unit / 2) $base-spacing-unit;

    @include breakpoint-min($main-breakpoint) {
        display: block;
        transition: opacity $transition-duration $transition-timing,
                    visibility $transition-duration $transition-timing;
    }
}

.main-navigation__list-item {
    position: relative;

    &:hover {
       > .main-navigation__menu-child {
           opacity: 1;
           visibility: visible;
        //    transition-delay: $transition-duration * 2;
       }
    }
}

.main-navigation__list-link {
    display: block;
    padding: ($base-spacing-unit / 2) $base-spacing-unit;
    font-weight: $font-weight-thick;

    @include beautify-link($link-default, $link-hovered);

    svg { margin-left: $base-spacing-unit / 2; }

    .list-item--secondary & {
        font-size: ($font-size-base * .9);
        padding: ($base-spacing-unit / 2) $base-spacing-unit;
    }
}

 @include breakpoint($main-breakpoint) {
    //  $link-hovered: $color-secondary;
     
    .main-navigation {
        top: -$base-spacing-unit;
        left: auto;
        width: auto;
        bottom: auto;
        max-width: 100%;
        text-align: right;
        padding-top: 20px;
        position: absolute;
        width: $off-canvas-width;
        right: -($off-canvas-width);
        padding: $base-spacing-unit;
    }

    .main-navigation__menu {
        flex-direction: column;
    }

    .main-navigation__menu-child {
        position: static;
        background: none;

        opacity: 1;
        padding: 0;
        width: auto;
        transform: none;
        box-shadow: none;
        border-radius: 0;
        visibility: visible;
    }

    .list-item--secondary {
        position: relative;

        &:before {
            top: ($base-spacing-unit / 1.1);
            left: ($base-spacing-unit / 1.1);
            content: "";
            display: block;
            position: absolute;
            background: $link-hovered;
            width: ($base-spacing-unit / 4);
            height: ($base-spacing-unit / 4);
            border-radius: ($base-spacing-unit / 4);
        }
    }

    .main-navigation__list-link {
        color: white;
        font-size: $font-size-base;
        @include beautify-link($link-reversed, $link-hovered);


        // TODO?
        &.current-menu-item {
            color: $link-hovered;
        }
    }
 }
