// Global Navigation styles

/* TODO?
 * 1. Add conditional styles for last-item dropdown
 * 2. Add active class styles to elements in menu
 * 3. Add drop-down functionality to mobile menu
 * 4. ...
 */


.main-navigation {
    float: right;
    margin-top: $base-spacing-unit * .1;
    // // Ensure element never over/underlaps the logo
    max-width: calc(100% - (#{$base-spacing-unit} * 15));

    @include breakpoint($main-breakpoint) { display: none; }
}

.main-navigation__menu,
.main-navigation__menu-child  {
    margin: 0;
    list-style: none;
}

.main-navigation__menu {
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.main-navigation__menu-child {
    opacity: 0;
    visibility: hidden;

    width: 250px;
    // display: none;
    position: absolute;
    background: white;
    left: -$base-spacing-unit;
    z-index: $z-index-base * 4;
    box-shadow: $box-shadow-default;
    border-radius: $border-radius-bottom;
    transform: translateY(-($base-spacing-unit * .1));
    padding: ($base-spacing-unit / 2) $base-spacing-unit;
}

.main-navigation__list-item {
    position: relative;

    &.current-menu-item > a { color: $color-tetranary; }


    &:hover {
       .main-navigation__menu-child {
           opacity: 1;
           visibility: visible;
       }
    }
}

.main-navigation__menu-child a,
.main-navigation__list-link {
    display: block;
    padding: ($base-spacing-unit / 2) $base-spacing-unit;
    font-weight: $font-weight-thick;

    @include beautify-link($link-default, $link-hovered);

    svg { margin-left: $base-spacing-unit / 2; }

    .list-item--secondary & {
        font-size: ($font-size-base * .9);
        padding: ($base-spacing-unit / 2) $base-spacing-unit;
    }
}
