// Global Navigation styles

/* TODO? 
 * 1. Add responsive styles to same menu,
 * 2. Add conditional styles for last-item dropdown
 * 3. Add active class styles to elements in menu 
 * 4. Add drop-down functionality to mobile menu
 * 5. ...
 */


.site-navigation--main {
    float: right;
    clear: right;
    margin-bottom: -($base-spacing-unit / 2);
    // Ensure element never over/underlaps the logo
    width: calc(100% - (#{$base-spacing-unit} * 13));
}

.site-navigation--main-menu,
.main-menu--menu-child  {
    margin: 0;
    list-style: none;
}

.site-navigation--main-menu {
    padding: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.main-menu--menu-child {
    opacity: 0;
    visibility: hidden;
    transition: opacity $transition-duration $transition-timing, 
                visibility $transition-duration $transition-timing;

    width: 250px;
    position: absolute;
    background: white;
    left: -$base-spacing-unit;
    z-index: $z-index-base * 4;
    box-shadow: $box-shadow-default;
    border-radius: $border-radius-bottom;
    transform: translateY(-$base-spacing-unit);
    padding: ($base-spacing-unit / 2) $base-spacing-unit;
}

.main-menu--list-item {
    position: relative;
    
    &:hover {
       > .main-menu--menu-child {
           opacity: 1;
           visibility: visible;
        //    transition-delay: $transition-duration * 2;
       }
    }
}

.main-menu--list-link {
    display: block;
    padding: $base-spacing-unit;
    font-weight: $font-weight-thick;
    
    @include beautify-link($link-default, $link-hovered);

    svg { margin-left: $base-spacing-unit / 2; }

    .list-item--secondary & {
        font-size: ($font-size-base * .9);
        padding: ($base-spacing-unit / 2) $base-spacing-unit;
    }
}

 @include breakpoint($main-breakpoint) {
    .site-navigation--main {
        top: 0;
        left: auto;
        width: auto;
        bottom: auto;
        text-align: right;
        padding-top: 20px;
        position: absolute;
        width: $off-canvas-width;
        right: -($off-canvas-width);
        padding: $base-spacing-unit;
    }

    .site-navigation--main-menu {
        flex-direction: column;
    }

    .main-menu--menu-child {
        position: static;
        background: none;

        opacity: 1;
        padding: 0;
        width: auto;
        transform: none;
        box-shadow: none;
        border-radius: none;
        visibility: visible;
    }

    .main-menu--list-link {
        color: white;
        font-size: $font-size-base;
        @include beautify-link($link-reversed, $link-hovered);


        // TODO? 
        &.current-menu-item {
            color: $link-hovered;
        }
    }
 }