// Global Search Form styles 

/* TODO?
 * 1. Style header link
 * 2. Style popup
 * 3. Style form
 * 4. Add JS functionality
 * 5. ...
 */

 #search-modal {
    width: 100%;
    outline: none;
    appearance: none;
 }

 .search-form {
    @include limit-width(500px, auto);
 }

 .search-form__label {}
 .search-form__input {}
 .search-form__submit {}
 .search-form__submit-text {}
 .search-form__submit-icon {}