{{ content_for_index }}

<h2>Flexbox Grid Test</h2>

<!-- remove this when done -->
<style>
    .grid-block-test {
        padding: 20px;
        background: #a8d3c6;
        text-align: center;
    }
</style>
<!-- -->

<div class="flex-grid">
    <div class="grid__item xs-12 sm-6 md-4 lg-3">
        <p class="grid-block-test">Test Block</p>
    </div>
    <div class="grid__item xs-12 sm-6 md-4 lg-3">
        <p class="grid-block-test">Test Block</p>
    </div>
    <div class="grid__item xs-12 sm-6 md-4 lg-3">
        <p class="grid-block-test">Test Block</p>
    </div>
    <div class="grid__item xs-12 sm-6 md-4 lg-3">
        <p class="grid-block-test">Test Block</p>
    </div>
</div>
