.blog-post {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blog-post__item {
  .responsive-image__wrapper { margin-bottom: $base-spacing-unit; }
}

// Article
.article__content {
  padding-top: $section-spacing-unit;
  padding-bottom: $section-spacing-unit;
}

// Post Navigation
.post-navigation {
  margin-top: $base-spacing-unit*2;
}