.dinner-menu {
    top: $header-height;
	left: 0;
    height: 0;
    width: 100%;
    opacity: 0;
    z-index: 1000;
    position: fixed;
    overflow: hidden;
    background: $theme-light;
    transition: opacity $transition-fast, height 0s $transition-time-default;
   }

.dinner-menu__inner {
	min-height:100%;
	display:inline-block; // Contain any margin
	width:100%;    		  // on it's children
}


body.dinner-menu-active {
    @include breakpoint($main-breakpoint) {
        height: 100vh;
        overflow: hidden;
        position: relative;
    }
}

.dinner-menu-active--relative body {
	// Lock the body into place is it's not fixed
	// Not used for fixed menu, cause it'll make the page jump up to the top
	height:100%;
	height: 100vh;
}

.dinner-menu {

	.dinner-menu-transiting & ,
	.dinner-menu-active & {
        overflow:auto;
        height: calc(100% - #{$header-height});
		-webkit-backface-visibility:hidden;
        -webkit-overflow-scrolling:touch;
	}
}

.dinner-menu-active .dinner-menu {
    opacity: 1;
    transition: opacity $transition-fast, height 0s 0s;
}




     

.mobile-navigation__menu {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    flex-direction: column;

    li.current-menu-item > a { color: $color-tetranary; }
}

.mobile-navigation__menu-child {
    list-style: none;
    position: static;
    background: none;

    opacity: 0;
    padding: 0;
    width: auto;
    max-height: 0;
    transform: none;
    box-shadow: none;
    border-radius: 0;
    visibility: visible;
    transition: opacity $transition-default .0s, max-height $transition-default;

    margin-left: $base-spacing-unit;
    padding-left: $base-spacing-unit;
    border-left: 1px solid $color-senary;


        li:last-of-type { @include margin-trailer(0); }

    &.active {
        opacity: 1;
        max-height: 1000px;
        transition: opacity $transition-default .15s, max-height $transition-default;
    }
}

.mobile-navigation__list-item {
    text-align: left;
    margin-bottom: ($base-spacing-unit / 2);

    &.list-item--parent {
        position: relative;
        padding-right: $base-spacing-unit * 2;

        span.dropper {
            right: 0;
            display: block;
            position: absolute;
            border-radius: 50%;
            text-align: center;
            top: $base-spacing-unit / 2;
            background: $color-tetranary;
            width: $base-spacing-unit * 1.5;
            height: $base-spacing-unit * 1.5;
            line-height: ($base-spacing-unit * 1.5) + 2;
            transition: transform $transition-default;

            svg path { fill: white; }

            &.active {
                transform: rotate(180deg);
            }
        }
    }
}

.list-item--secondary {
 // necessary for dropper
    position: relative;
}

.mobile-navigation__list-link {
    display: block;
    padding: ($base-spacing-unit / 2) 0;
    font-weight: $font-weight-thick;
    font-size: $base-font-size * $base-line-height;

    @include beautify-link($link-default, $link-hovered);
    
    .mobile-navigation__menu-child & { font-size: ($base-font-size - 3) * $base-line-height; }


    // TODO?
    &.current-menu-item {
        color: $link-hovered;
    }
}
