/* 
 * Global Cart Drawer styles
 *
 * JS Component located under:
 * /scripts/components/cartDrawer.js
 *
 * TODO?
 * 1. DONE - Add Cart markup and data to drawer
 * 2. AJAX the drawer and adding product process? How will this impact user experience? How will this impact user routing and cart page?
 * 3. DONE - Add indicators that cart has items?
 * 4. DONE - How should this drawer be styled?
 * 5. DONE - Should it be consistent with mobile nav and search? 
 *
 */


 // Trigger | Icon Styling
 .site-header__cart-link {
     display: block;
     padding: ($base-spacing-unit / 4);
 }
 .site-header__cart-text {
     @include hide-text();
 }


// Target | Drawer Styling
.drawer {
    position: fixed;
    overflow-y: scroll;
    top: $header-height;
    right: -$off-canvas-width;
   
    width: $off-canvas-width;
    height: calc(100vh - #{$header-height});

    background: white;
    box-shadow: $box-shadow-default;

    transition: transform $transition-default;
    z-index: ($z-index-base * 1.5);

    &.drawer-open { transform: translateX(-#{$off-canvas-width}); }
}

.drawer-content {
    padding: 0 ($base-spacing-unit * 2);

    .grid__item {
        margin-bottom: ($base-spacing-unit / 2);

        &:nth-of-type(odd) { font-style: italic; }
        &:nth-of-type(even) { text-align: right; }
        &.col-12 { text-align: left; }
    }

    textarea { width: 100%; }
}

// Adding corresponding `<main>` styles here, 
// these should only be related to the component. 
.site-main, .site-footer {
    backface-visibility: hidden;
    transition: transform $transition-default, opacity $transition-fast;

    .drawer-open & {
        opacity: .5;
        transform: translateX(-$off-canvas-half);
    }
}

body.drawer-open {
    overflow: hidden;
}