.section.hero {
  min-height: 50vh;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  .template-index & {
    @include breakpoint-min($main-breakpoint){
      min-height: calc(100vh - #{$header-height});
    }
  }
}

.hero-content__background,
.hero-content__overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  position: absolute;
  background-color: black;
}

.hero-content__background { z-index: 0; }
.hero-content__overlay { z-index: 10; }


.hero-content__foreground {
  z-index: 20;
  position: relative;
}

.hero-content {
  @include limit-width(580px, auto);
  @include margin-trailer(2);
  
  color: white;
  text-align: center;
}

.hero-content__button {
  background: white;
}