@charset 'UTF-8';

/*!
        ,
       .'.
       |o|
      .'o'.
      |.-.|
      '   '
       ( )
        )
       ( )
         
Theme:      Rover (v1.0.0)
Author:     Sean Dozeman
Company:    Major Tom
Website:    www.majortom.com
Repository: https://github.com/sdozeman-mt/rover
*/



/* Rover | Built with Slate */
@import '~normalize.css/normalize';
@import '~magnific-popup/dist/magnific-popup';
@import '~swiper/dist/css/swiper';

// Settings
@import './variables';

// Tools
@import './tools/mixins';
@import './tools/functions';
@import './tools/helpers';
@import './tools/island';

// Core
@import './core/rte';
@import './core/media';
@import './core/forms';
@import './core/typography';
@import './core/helpers';
@import './core/flexbox-grid';
@import './core/responsive-tables';

// Components
@import './components/icons';
@import './components/buttons';
@import './components/containers';
@import './components/hero-banner';
@import './components/placeholders';
@import './components/responsive-images';
@import './components/responsive-bg-images';
@import './components/announcement-bar';

@import './js-components/transitions';
@import './js-components/menu-button';
@import './js-components/dinner-menu';
@import './js-components/cart-drawer';
@import './js-components/search-form.scss';


// Sections
@import './sections/alternating.scss';
@import './sections/banner.scss';
@import './sections/blog-posts';
@import './sections/collection-list';
@import './sections/featured-collection';
@import './sections/featured-product';
@import './sections/image-with-text';
@import './sections/newsletter';
@import './sections/single-product';
@import './sections/slider';

// Static sections | Homepage specific
@import './sections/static/hero';
@import './sections/static/intro';

// Global
@import './global/base';
@import './global/header';
@import './global/footer';
@import './global/global';
@import './global/navigation';
@import './global/utility-menu';
@import './global/site-container';
@import './global/magnific.scss';


// Templates
@import './templates/gift_card';
@import './templates/product';
@import './templates/search-results.scss';
