@charset 'UTF-8';

/*!
        ,
       .'.
       |o|
      .'o'.
      |.-.|
      '   '
       ( )
        )
       ( )
         
Theme:      Rover (v1.0.0)
Author:     Sean Dozeman
Company:    Major Tom
Website:    www.majortom.com
Repository: 
*/


/**
 * [replace with theme name] | Built with Slate
 */
@import '~normalize.css/normalize';

// Settings
@import './variables';

// Tools
@import './tools/mixins';
@import './tools/functions';

// Core
@import './core/forms';
@import './core/helpers';
@import './core/media';
@import './core/responsive-tables';
@import './core/rte';
@import './core/typography';

// Components
@import './components/buttons';
@import './components/containers';
@import './components/hero-banner';
@import './components/icons';
@import './components/placeholders';
@import './components/responsive-images';

// Sections
@import './sections/blog-posts';
@import './sections/collection-list';
@import './sections/featured-collection';
@import './sections/image-with-text';

// Global
@import './global/base';
@import './global/header';
@import './global/footer';
@import './global/global';
@import './global/navigation';

// Templates
@import './templates/gift_card';
@import './templates/product';
