// Text colors
$color-body-text: var(--color-body-text);

// Background colors
$color-body: var(--color-main-background);

// Placeholders
$placeholder-color-foreground: #161d25;
$placeholder-color-background: #f9fafb;

// Other colors
$color-accent: var(--color-accent);
$color-border: var(--color-border);

// Helper colors for form error states
$color-disabled:        #000000;
$color-disabled-border: #000000;
$color-error:           #ff6d6d;
$color-error-bg:        #ffffff;
$color-success:         #000000;
$color-success-bg:      #000000;

// Typography
$font-heading: var(--font-heading);
$font-body: var(--font-body);
$font-body-weight: var(--font-body-weight);
$font-body-style: var(--font-body-style);
$font-body-bold-weight: var(--font-body-bold-weight);

// Transitions
$transition-duration:   250ms;
$transition-timing:     ease-in-out;

// // Grid
// $grid-medium: 46.85em;
// $grid-large: 61.85em;
// $grid-widescreen: 87.5em;
// $grid-max-width: 73.75em;
$grid-gutter:           20px;

// // Breakpoints used with the media-query mixin
// $small: 'small';
// $medium: 'medium';
// $medium-down: 'medium-down';
// $medium-up: 'medium-up';
// $large: 'large';
// $large-down: 'large-down';
// $large-up: 'large-up';
// $widescreen: 'widescreen';

// $breakpoints: (
//   $small '(max-width: #{$grid-medium - 1})',
//   $medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
//   $medium-down '(max-width: #{$grid-large - 1})',
//   $medium-up '(min-width: #{$grid-medium})',
//   $large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
//   $large-down '(max-width: #{$grid-widescreen - 1})',
//   $large-up '(min-width: #{$grid-large})',
//   $widescreen '(min-width: #{$grid-widescreen})'
// );


////////
// Rover Custom Variables
////////

/* -------------------------------------- */

// TYPOGRAPHY
// Base typography overrides
$line-height-base:  1.4;
$font-size-base:    1.6rem;

$font-weight:       400;
$font-weight-thick: 700;
$font-weight-thin:  100;

// COLORS
// Primary Colors
$color-primary:     #252525;
$color-secondary:   #a8d3c6;
$color-tertiary:    #e5dc68;
$color-tetranary:   #d62598;
$color-quinary:     #f6f6f6;
$color-senary:      #eeeeee;

// Grays?
$color-gray:        #e9e9e9; // darken($color-quinary, 5%);

$theme-light:       white;
$theme-dark:        $color-quinary;

// Link Colors
$link-default:      $color-primary;
$link-hovered:      $color-tetranary;
$link-reversed:     invert($link-default);
$link-active:       darken($color-primary, 10%);

// Social Media Colors
$color-twitter:     #00aced;
$color-facebook:    #3b5998;
$color-googleplus:  #dd4b39;
$color-pinterest:   #cb2027;
$color-linkedin:    #007bb6;
$color-youtube:     #bb0000;
$color-vimeo:       #1ab7ea;
$color-instagram:   #bc2a8d;
$color-flickr:      #ff0084;
$color-yahoo:       #7B0099;


/* -------------------------------------- */

// SPACING
// Global spacing and measurement variables

// Set consistent vertical and horizontal spacing units.
// $base-spacing-unit        : $base-line-height/$font-size-base * 1rem;
$base-spacing-unit        : 20px;
$section-spacing-unit     : ($base-spacing-unit * 4);

$island-padding-y         : ($base-spacing-unit * 2);
$island-padding-x         : ($base-spacing-unit * 2);

$container-pad            : $base-spacing-unit;
$container-max            : 1440px;
$container-large-max      : 1600px;
$container-small-max      : 990px;
$container-xs-max         : 540px;

$btn-small-padding        : .2em;
$btn-default-padding      : .7em;
$btn-large-padding        : .8em;

$header-height            : 90px;

/* -------------------------------------- */

// ANIMATION
$transition-time-fast      : .15s;
$transition-time-default   : .3s ;
$transition-time-slow      : .6s;
$transition-timing-default : ease-out;
$transition-slow           : $transition-time-slow $transition-timing-default;
$transition-default        : $transition-time-default $transition-timing-default;
$transition-fast           : $transition-time-fast $transition-timing-default;
$transition-custom         : cubic-bezier(0.19, 1, 0.22, 1);


/* -------------------------------------- */

// SHADOWS
$box-shadow-default        : 0 2px 2px -2px rgba(0,0,0,0.5), 0 16px 16px -16px rgba(0,0,0,0.25);
$box-shadow-reverse        : 0 -2px 5px -2px rgba(0,0,0,0.5), 0 16px 16px -16px rgba(0,0,0,0.25);

// BORDERS
$border-radius-base        : ($base-spacing-unit * .5);
$border-radius-bottom      : 0 0 $border-radius-base $border-radius-base;
$border-radius-top         : $border-radius-base $border-radius-base 0 0;

// Z-INDEXES
$z-index-base              : 100;

/* --------------------------------------- */

// TYPOGRAPHY
// $base-font-family    : 'Source Sans Pro', Helvetica, Arial, sans-serif;
// $heading-font-family : 'Roboto Condensed', Helvetica, Arial, sans-serif;
// $body-font-family    :  $base-font-family;

$base-font-size     : 16px;
$base-line-height   : 1.4;

$h1-font-size        : 60px;
$h2-font-size        : 40px;
$h3-font-size        : 32px;
$h4-font-size        : 26px;
$h5-font-size        : 22px;
$h6-font-size        : 20px;

$hero-font-size      : $h1-font-size;
$small-font-size     : 14px;

/* --------------------------------------- */

// MEDIA QUERIES
// Breakpoints
$bp-xs              : 529px;
$bp-sm              : 767px;
$bp-md              : 819px;
$bp-lg              : 1023px;
$bp-xl              : 1199px;

$bp-array           : '{"xs": "#{$bp-xs}", "sm": "#{$bp-sm}", "md": "#{$bp-md}", "lg": "#{$bp-lg}" ,"xl": "#{$bp-xl}"}';

$large-breakpoint   : $bp-xl;

// Main breakpoint, usually the point where we change from 'mobile' to 'desktop'
// (ie. change from collapsible menu to normal menu)
$main-breakpoint    : $bp-lg;

// OFF CANVAS
$off-canvas-width   : 250px;

/* --------------------------------------- */

// FORMS
$input-height       : $base-spacing-unit * 2.75;
$submit-width       : $input-height;
// $border-width       : 1px;
// $border-style       : solid;
// $border-color       : black;