// Search Results Styles

.search-result__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.search-result__item {
    display: flex;
    flex-direction: row;
    margin-bottom: $base-spacing-unit * 2;

    @include breakpoint($bp-sm) {
        text-align: center;
        flex-direction: column;
    }
}

.search-result__item-image {
    margin-right: $base-spacing-unit * 2;

    @include breakpoint($bp-sm) {
        margin: 0 auto $base-spacing-unit;
    }

    img { min-width: 240px; }
}

.search-result__item-content {}