{% comment %}

  TODO? Add more documentation about this module.
  Requirements: Trigger element, Target element (this) - cartDrawer.js

{% endcomment %}

<script>
  var drawer = {{ cart | json }};
  CartJS.init(drawer);
</script>

<section class="section drawer off-canvas js-off-canvas">
  <div class="drawer-content">
      <h3>Cart</h3>
  </div>
</section>
