{% comment %}

  TODO? Add more documentation about this module.
  Requirements: Trigger element, Target element (this) - cartDrawer.js

{% endcomment %}

<section class="section drawer off-canvas js-off-canvas">
  <div class="drawer-content">

    {% comment %}
      TODO? currently re-using cart.liquid as it's own snippet,
      not sure how to do this better, working for now.    
    {% endcomment %}
    {% include 'module-cart' %}
  </div>
</section>
